// Big Button
.big-button{
    background: $purple;
    font-size:$l-size;
    font-weight: bold;
    color:white;
    border:none;
    border-bottom: 0.6rem solid darken($purple,10%);
    width:100%;
    margin:0 0 $xl-size 0;
    padding: 2.4rem;
}

.big-button:disabled{
    opacity:0.5;
}

// button

.button{
    background: $purple;
    border:none;
    border-bottom: 0.3rem solid darken($purple,10%);
    color:white;
    padding:$s-size;
    font-weight: 500;
}

// block modifier
.button--link{
    background: none;
    border:none;
    color:$off-white;
    padding:0;
}